@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Sans", serif;
}

.boxShadow {
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

::-webkit-scrollbar {
  display: none;
}

a {
  font-size: 1.1rem;
}

.rainbow {
  width: 100%;
  height: 100%;
  /* Add your background pattern here */
  /* background-color: lightblue; */
  background-image: radial-gradient(black 55%, #0000),
    /* radial-gradient(black 55%, #0000), */
      linear-gradient(
        135deg,
        red,
        orange,
        yellow,
        lime,
        cyan,
        blue,
        indigo,
        deeppink
      );
  background-size: 100% 0.5%, contain;
  /* background-blend-mode: hard-light; */
  /* background-position: 0 0, 1em 1em, 0 0; */
}

@media (max-width: 600px) {
  .blob1 {
    width: 100vw;
    height: 80dvh;
    filter: blur(150px);
  }
}

@layer base {
  :root {
    --background: #f1f0ee;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.blob {
  border-radius: 15rem;
  background: linear-gradient(
      197.37deg,
      #003d5b -0.38%,
      rgba(138, 234, 240, 0) 101.89%
    ),
    linear-gradient(
      115.93deg,
      #3e88f6 4.86%,
      rgba(62, 180, 246, 0.33) 38.05%,
      rgba(62, 235, 246, 0) 74.14%
    ),
    radial-gradient(
      56.47% 76.87% at 6.92% 7.55%,
      rgba(62, 136, 246, 0.7) 0%,
      rgba(62, 158, 246, 0.182) 52.16%,
      rgba(62, 246, 246, 0) 100%
    ),
    linear-gradient(306.53deg, #2ee4e3 19.83%, rgba(46, 228, 227, 0) 97.33%);
  background-blend-mode: normal, normal, normal, normal, normal, normal;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.footer {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(11, 10, 9, 1) 100%
  );
}

/* HTML: <div class="ribbon">Your text content</div> */
.ribbon {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}
.ribbon {
  --f: 0.3em; /* control the folded part*/
  --r: 0.8em; /* control the ribbon shape */

  position: absolute;
  right: 20px;
  top: calc(-1 * var(--f));
  padding: 0.3em;
  background: #00aff0;
  border-right: var(--f) solid #0005;
  border-bottom: var(--r) solid #0000;
  clip-path: polygon(
    calc(100% - var(--f)) 0,
    0 0,
    0 100%,
    calc(50% - var(--f) / 2) calc(100% - var(--r)),
    calc(100% - var(--f)) 100%,
    calc(100% - var(--f)) var(--f),
    100% var(--f)
  );
}

/* .borderDash {
} */
